language: python

matrix:
  include:
    - name: "Ubuntu 18.04 - Python 3.8"
      os: linux
      dist: bionic  # Ubuntu 18.04
      python: 3.8
#    - name: "Ubuntu 18.04 - Python 3.7"
#      os: linux
#      dist: bionic  # Ubuntu 18.04
#      python: 3.8
#    - name: "OSX xcode10.2 - Python 3"
#      os: osx
#      osx_image: xcode10.2
#      language: generic
#      addons:
#        homebrew:
#          # update: true
#          packages: python3
#      before_install:
#        - pip3 install virtualenv
#        - virtualenv -p python3 ~/venv
#        - source ~/venv/bin/activate

#cache: pip

# command to install dependencies
install:
  - pip install 'six>=1.13.0'
  - pip install moto[all] pytest
  - pip install tensorflow keras
  - pip install -r requirements.txt

script:
  - pytest tests
