numpy
pandas
scikit-learn
matplotlib
seaborn
torch>=1.6.0
torchvision
torchtext
pytorch-nlp
transformers
joblib
tqdm
awscli
boto3
botocore
google-cloud-storage
nltk
allennlp==0.9
pyrouge
rouge
tensorboard
