numpy
pandas
scikit-learn
matplotlib
seaborn
torch
torchvision
torchtext
pytorch-nlp
transformers
joblib
tqdm
awscli
boto3
botocore
google-cloud-storage
protobuf==3.19.4
nltk
overrides == 3.1.0
pyrouge
rouge
tensorboard
wandb
